extends  ../_skeleton

block variables
  - var activeIndex = 1
  - var pageName = 'Header minimal'

block page 
  // Page header
  include ../sections/_header-minimal

  include ../sections/_section-slider-default

  include ../sections/_section-call-to-action

  include ../sections/_section-services

  // Page Footer
  include ../sections/_footer-corporate

