-
  var
  brandName = 'Interior Design',
  logoDefault = 'logo-232x44',
  logoInverse = 'logo-inverse-232x44',
  getTemplateLink = '#',
  includeLayoutPanel = true,
  projectCategory = 'project-category.html',
  singleProject = 'single-project.html',
  singleService = 'single-service.html',
  postLink = 'standard-post.html',
  postSlider = 'gallery-post.html', 
  postVideo = 'video-post.html',
  blogPostLink = 'link-post.html',
  postQuote = 'quote-post.html', 
  postAudio = 'audio-post.html',
  postImage = 'image-post.html',
  videoSrc = '//www.youtube.com/embed/ccuQoF0vKYU',
  teamMember = 'team-member-profile.html',
  menu = [
    {
      title: 'Home',
      subtitle: 'Browse',
      link: 'index.html',
      dropdown: [
        {
          title: 'Home variant 1',
          link: 'index.html'
        },
        {
          title: 'Home variant 2',
          link: 'index-variant-2.html'
        },
        {
          title: 'Home variant 3',
          link: 'index-variant-3.html'
        }
      ]
    },
    {
      title: 'Features',
      subtitle: 'Browse',
      link: '#',
      dropdown: [
        {
          title: 'Headers',
          link: '#',
          dropdown: [
            {
              title: 'Header Default',
              link: 'header-default.html'
            },
            {
              title: 'Header Default Dark',
              link: 'header-default-dark.html'
            },
            {
              title: 'Header Modern',
              link: 'header-modern.html'
            },
            {
              title: 'Header Creative',
              link: 'header-creative.html'
            },
            {
              title: 'Header Corporate',
              link: 'header-corporate.html'
            },
            {
              title: 'Header Transparent',
              link: 'header-transparent.html'
            },
            {
              title: 'Header Minimal',
              link: 'header-minimal.html'
            },
            {
              title: 'Header Sidebar',
              link: 'header-sidebar.html'
            },
            {
              title: 'Header Sidebar Inverse',
              link: 'header-sidebar-inverse.html'
            }
          ]
        },
        {
          title: 'Footers', 
          link: '#',
          dropdown: [
            {
              title: 'Footer Default',
              link: 'footer-default.html'
            },
            {
              title: 'Footer Minimal',
              link: 'footer-minimal.html'
            },
            {
              title: 'Footer Modern',
              link: 'footer-modern.html'
            }
          ]
        }
      ]
    },
    {
      title: 'About',
      subtitle: 'Browse',
      link: 'about.html'
    },
    {
      title: 'Services',
      subtitle: 'Browse',
      link: 'services.html',
      dropdown: [
        {
          title: 'Single Service',
          link: singleService
        }
      ]
    },
    {
      title: 'Projects',
      subtitle: 'Browse',
      link: 'projects.html',
      dropdown: [ 
        {
          title: 'Project Category',
          link: projectCategory
        },
        {
          title: 'Single Project',
          link: singleProject
        }
      ]
    },
    {
      title: 'Pages',
      subtitle: 'Browse',
      link: '#',
      megamenu: [
        [
          {
            title: 'General',
            list: [
              {
                title: 'About',
                link: 'about.html'
              },
              {
                title: 'Our Team',
                link: 'our-team.html'
              },
              {
                title: 'Team Member Profile',
                link: teamMember
              },
              {
                title: 'Services',
                link: 'services.html'
              },
              {
                title: 'Single Service',
                link: 'single-service.html'
              }
            ]
          }
        ],
        [
          {
            title: 'Special Pages',
            list: [
              {
                title: '404 Page',
                link: '404-page.html'
              },
              {
                title: 'Search Results',
                link: 'search-results.html'
              },
              {
                title: 'Coming Soon',
                link: 'coming-soon.html'
              },
              {
                title: 'Privacy Policy',
                link: 'privacy-policy.html'
              }
            ]
          }
        ],
        [
          {
            title: 'Elements #1',
            text: 'Browse',
            list: [
              {
                title: 'Accordion',
                link: 'accordion.html'
              },
              {
                title: 'Tabs',
                link: 'tabs.html'
              },
              {
                title: 'Buttons',
                link: 'buttons.html'
              },
              {
                title: 'Typography',
                link: 'typography.html'
              },
              {
                title: 'Forms',
                link: 'forms.html'
              }
            ]
          }
        ],
        [
          {
            title: 'Elements #2',
            text: 'Browse',
            list: [
              {
                title: 'Countdown',
                link: 'countdown.html'
              },
              {
                title: 'Animated Counter',
                link: 'animated-counter.html'
              },
              {
                title: 'Number Counter',
                link: 'number-counter.html'
              },
              {
                title: 'Circles Counter',
                link: 'circles-counter.html'
              }
            ]
          }
        ]
      ]
    },
    {
      title: 'Blog',
      subtitle: 'Browse',
      link: '#',
      dropdown: [
        {
          title: 'Post Formats',
          link: '#',
          dropdown: [
            {
              title: 'Standard post',
              link: postLink
            },
            {
              title: 'Gallery post',
              link: postSlider
            },
            {
              title: 'Image post',
              link: postImage
            },
            {
              title: 'Link post',
              link: blogPostLink
            },
            {
              title: 'Quote post',
              link: postQuote
            },
            {
              title: 'Video post',
              link: postVideo
            },
            {
              title: 'Audio post',
              link: postAudio
            }
          ]
        },
        {
          title: 'Blog Layouts',
          link: '#',
          dropdown: [
            {
              title: 'Classic Blog',
              link: 'classic-blog.html'
            },
            {
              title: 'Grid Blog',
              link: 'grid-blog.html'
            },
            {
              title: 'Masonry Blog',
              link: 'masonry-blog.html'
            },
            {
              title: 'Justify Blog',
              link: 'justify-blog.html'
            }
          ]
        },
        {
          title: 'Sidebar',
          link: '#',
          dropdown: [
            {
              title: 'Left Sidebar',
              link: 'left-sidebar.html'
            },
            {
              title: 'Right Sidebar',
              link: 'right-sidebar.html'
            },
            {
              title: 'No Sidebar',
              link: 'no-sidebar.html'
            }
          ]
        }
      ]
    },
    {
      title: 'Contacts',
      subtitle: 'Browse',
      link: 'contacts.html'
    }
  ]