// Meet Our Team
section.section-lg.bg-default.text-center
  .container
    h4.heading-decorated Meet Our Team
    .row.row-70.offset-top-1
      .col-md-6.col-lg-4
        // Thumb flat
        article.thumb-flat
          +jpg('calvin-fitzerald-418x315', 'thumb-flat__image')
          .thumb-flat__body
            p.heading-6: a(href='team-member-profile.html') Calvin Fitgerald
            p.thumb-flat__subtitle Founder, Managing Director
            p Calvin Fitgerald is an established and well-respected expert in the construction industry. With more than 35 years of practical experience in the business, Calvin has built his career on bringing the most outlandish conceptual visions from blueprints to a street next to yours... His leadership skills cemented Construction's dominating positions among our competitors.

      .col-md-6.col-lg-4
        // Thumb flat 
        article.thumb-flat
          +jpg('taylor-wilson-418x315', 'thumb-flat__image')
          .thumb-flat__body
            p.heading-6: a(href='team-member-profile.html') Taylor Wilson
            p.thumb-flat__subtitle Senior Interior Designer
            p For Taylor, good design is the result of curiosity, careful listening and asking far too many questions. He is driven to fully understand the needs, aspirations, and frustrations of clients and end users in order to create spaces where people truly want to be. After 16 years of design and project leadership experience, he is an expert in bringing a client’s ideas to life.

      .col-md-6.col-lg-4
        // Thumb flat
        article.thumb-flat
          +jpg('josh-wagner-418x315', 'thumb-flat__image')
          .thumb-flat__body
            p.heading-6: a(href='team-member-profile.html') Josh Wagner
            p.thumb-flat__subtitle Lead Architect
            p Josh is one of our lead specialists in remodeling and redesign of all kinds of spaces. A Registered Architect, he has led teams as project architect/project manager on a broad range of project types and sizes. Having joined us in 2000, Josh Wagner brings significant professional expertise to his role on the Interior Design firmwide Technical Committee.

      .col-md-6.col-lg-4
        // Thumb flat
        article.thumb-flat
          +jpg('luis-maxwell-418x415', 'thumb-flat__image')
          .thumb-flat__body
            p.heading-6: a(href='team-member-profile.html') Ann Maxwell
            p.thumb-flat__subtitle Junior Architect
            p While we do all the pre-construction planning and sketching, scheduling and managing on an in-house basis, we hire a lot of 3rd party contractors for the actual on-site work. Ann Maxwell is the person to manage all our contractors across all of our projects being currently in development.

      .col-md-6.col-lg-4
        // Thumb flat
        article.thumb-flat
          +jpg('ken-ferguson-418x415', 'thumb-flat__image')
          .thumb-flat__body
            p.heading-6: a(href='team-member-profile.html') Ken Ferguson
            p.thumb-flat__subtitle Interior Designer
            p Ken's been working as a chief financial analyst for Bechtel; Fluor Corp.; CB&I and Kiewit Corp. During those years he excelled in this field, efficiently cutting the side expenses that were bringing those top contractors down. Few years ago we managed to get him onboard, and not even a full year later we've had a our returns in a form of an optimized expenses budget!

      .col-md-6.col-lg-4
        // Thumb flat
        article.thumb-flat
          +jpg('edward-elliot-418x315', 'thumb-flat__image')
          .thumb-flat__body
            p.heading-6: a(href='team-member-profile.html') Edward  Elliott
            p.thumb-flat__subtitle Consultant
            p Previously Edward owned his own mid-sized contracting company. That kind of a first hand, entrepreneurial experience in managing all the processes and operations for a construction company got our attention. Last year we invited him to join our team, which he fortunately did...
='\n'