// Call to Action
section.section-md.bg-accent.text-center
  .container
    .row.justify-content-md-center
      .col-md-11.col-lg-9.col-xl-8
        h4.heading-decoratedIf you can envision it, then we can design it. #[br]Tell us more about your project!
        a.button.button-primary(href='contacts.html') Contact Us
='\n'