// Swiper
section
  .swiper-container.swiper-slider.swiper-slider_fullheight-var-1.bg-gray-dark(data-simulate-touch="false", data-loop='true', data-autoplay='5000')
    .swiper-wrapper
      .swiper-slide(data-slide-bg='images/parallax-1.jpg')
        .swiper-slide-caption.text-left
          .container: .row.justify-content-center.justify-content-xxl-start: .col-lg-10.col-xxl-6
            h1(data-caption-animate='fadeInUpSmall') Creating custom interiors
            h5.font-weight-normal(data-caption-animate='fadeInUpSmall', data-caption-delay='200') We have been designing amazingly cozy interiors since 1999.
            a.button.button-primary(data-caption-animate='fadeInUpSmall', data-caption-delay='350', href='projects.html') See Our Recent Projects

      .swiper-slide.text-center(data-slide-bg='images/typography-1-1500x1000.jpg')
        .swiper-slide-caption
          .container: .row.justify-content-lg-center: .col-lg-10
            h1(data-caption-animate='fadeInUpSmall') Personalized Interiors
            h5.font-weight-normal(data-caption-animate='fadeInUpSmall', data-caption-delay='200') Our team can personalize an existing interior according to your needs.
            a.button.button-primary(data-caption-animate='fadeInUpSmall', data-caption-delay='350', href='projects.html') See Our Recent Projects

      .swiper-slide.text-right(data-slide-bg='images/post-3-1500x1125.jpg')
        .swiper-slide-caption
          .container: .row.justify-content-center.justify-content-xxl-end: .col-lg-10.col-xxl-6
            h1(data-caption-animate='fadeInUpSmall') All kinds of interior designs
            h5.font-weight-normal(data-caption-animate='fadeInUpSmall', data-caption-delay='200') Even if you are aiming at the most complex interior, we can handle it.
            a.button.button-primary(data-caption-animate='fadeInUpSmall', data-caption-delay='350', href='projects.html') See Our Recent Projects

    // Swiper Pagination
    .swiper-pagination

    // Swiper Navigation
    .swiper-button-prev.linear-icon-chevron-left
    .swiper-button-next.linear-icon-chevron-right

='\n'