section.section-lg.bg-image.bg-image-4.text-center.bg-accent
  .container
    .row.justify-content-sm-center.row-60
      .col-md-4.col-xl-3
        // Circle Progress Bar
        .progress-bar-circle(data-value="0.45", data-gradient="#f9b707, #f9b707", data-empty-fill="#f9b707", data-size="141", data-thickness="5")
          span
        .progress-bar-circle-title Pixel perfect typography
      .col-md-4.col-xl-3
        // Circle Progress Bar
        .progress-bar-circle(data-value="0.60", data-gradient="#f9b707, #f9b707", data-empty-fill="#f9b707", data-size="141", data-thickness="5")
          span
        .progress-bar-circle-title Interior Planning
      .col-md-4.col-xl-3
        // Circle Progress Bar
        .progress-bar-circle(data-value="0.80", data-gradient="#f9b707, #f9b707", data-empty-fill="#f9b707", data-size="141", data-thickness="5")
          span
        .progress-bar-circle-title Made for community
='\n'