section.section-xs.section-cta.bg-image.bg-image-7.text-center.text-md-left
  .container
    .row.row-30.justify-content-between.align-items-center
      .col-12.col-md-8
        h4 Comfortable and affordable interior design projects
      .col-12.col-md-4.text-md-right
        a.button.button-primary(href='about.html') Read more

