extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs

block variables
  - var activeIndex = 1
  - var pageName = 'Footer modern'

block page
  // Page header
  include ../sections/_header-default 
    
  // Parallax header
  include ../elements/_ui-parallax
  section.bg-gray-dark
    +parallax({
      "attrType": "media",
      "src": "images/parallax-3.jpg",
      "htmlSpeed": "0.1",
      "class": ['parallax-header']
    })
      .parallax-header__inner: .parallax-header__content
        .container
          .row.justify-content-sm-center
            .col-md-10.col-xl-8 
              h2.heading-decorated=pageName 

  include ../sections/_section-posts
  include ../sections/_section-cta-1

  // Page Footer
  include ../sections/_footer-modern

