extends  ../_skeleton

//- Includes
include ../elements/_ui-parallax
include ../elements/_ui-post-project

block variables
  - var activeIndex = 5
  - var pageName = 'Our Team'

block page
  // Page header
  include ../sections/_header-default 

  // Parallax header
  section.bg-gray-dark
    +parallax({
      "attrType": "media",
      "src": "images/parallax-1.jpg",
      "htmlSpeed": "0.1", 
      "class": ['parallax-header']
    })
      .parallax-header__inner: .parallax-header__content
        .container
          .row.justify-content-sm-center
            .col-xl-10
              h2.heading-decorated Our Team
  ='\n'

  include ../sections/_section-managers

  // Page Footer
  include ../sections/_footer-corporate

