extends  ../_skeleton

//- Includes
include ../elements/_ui-quote-centered

block variables
  - var activeIndex = 5
  - var pageName = 'Typography'

block page
  // Page header
  include ../sections/_header-default 
    
  // Parallax header
  include ../elements/_ui-parallax
  section.bg-gray-dark
    +parallax({
      "attrType": "media",
      "src": "images/parallax-1.jpg",
      "htmlSpeed": "0.1",
      "class": ['parallax-header']
    })
      .parallax-header__inner: .parallax-header__content
        .container
          .row.justify-content-sm-center
            .col-md-10.col-xl-8
              h2.heading-decorated=pageName
  ='\n'

  .section-sm.section-divided
    .container
      .row.row-50.row-md-75
        .col-lg-8.section-divided__main
          // Base typography
          section.section-sm
            h5 Typography
            ul.list-md
              li
                h1 H1 Heading
                p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
              li
                h2 H2 Heading
                p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

              li
                h3 H3 Heading
                p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

              li
                h4 H4 Heading
                p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

              li
                h5 H5 Heading
                p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

              li
                h6 H6 Heading
                p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
          ='\n'

          // Unordered list
          section.section-sm
            h5 Unordered list
            ul.list-marked
              li 10 Reasons to Buy Monstroid#[sup 2].
              li Getting to another  level of design
              li Clean Style. Cons and Pros.
          ='\n'

          // Ordered list
          section.section-sm
            h5 Ordered list
            ul.list-ordered
              li 10 Reasons to Buy Monstroid#[sup 2].
              li Getting to another  level of design
              li Clean Style. Cons and Pros.
          ='\n'

          // Blockquotes
          section.section-sm
            h5 Blockquotes
            +quote-centered({
              text: "Monstroid² is perfect to display the members of your staff, team or working force. ",
              cite: "Adam Smith"
            })
          ='\n'

          // Some other styles
          section.section-sm
            h5 Some other styles
            p.first-letter Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

            ul.list-xxs
              li
                dl.list-terms-minimal
                  dt Bold Text
                  dd: span.text-medium Whether you found me on YouTube
              li
                dl.list-terms-minimal
                  dt Italic
                  dd: span.font-italic Whether you found me on YouTube
              li
                dl.list-terms-minimal
                  dt Strike-through
                  dd: span.text-strike Whether you found me on YouTube
              li
                dl.list-terms-minimal
                  dt Link
                  dd: a(href='#') Whether you found me on YouTube
              li
                dl.list-terms-minimal
                  dt Inline Code
                  dd: code Whether you found me on YouTube
          ='\n'

          // Centre aligned image
          section.section-sm
            h5 Centre aligned image
            p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

            figure.figure-centered
              +jpg('typography-1-418x279')
          ='\n'

          // Left aligned image
          section.section-sm
            h5 Left aligned image
            .row.flex-md-row-reverse.row-30
              .col-md-6
                p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
              .col-md-6
                figure.figure
                  +jpg('typography-1-1500x1000')
          ='\n'

          // Right aligned image
          section.section-sm
            h5 Right aligned image
            .row.row-30
              .col-md-6
                p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
              .col-md-6
                figure.figure
                  +jpg('typography-1-1500x1000')
          ='\n'

          // Large image should always fit
          section.section-sm
            h5 Large image should always fit
            p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

            figure.figure
              +jpg('typography-1-1500x1000')
          ='\n'


        .col-lg-4.section-divided__aside
          include ../sections/_section-aside-sidebar-blog
  ='\n'

  // Modal
  include ../sections/_section-modal

  // Page Footer
  include ../sections/_footer-corporate

